@import '../../../assets/styles/variables';

.header {
  align-items: center;
  background-color: #fafbfc;
  box-shadow: inset 0 -1px 0 #e1e4e8;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column-reverse;
  height: calc(100vh - 75px);
  justify-content: space-between;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .header {
    align-items: center;
    background-color: #fafbfc;
    box-shadow: inset 0 -1px 0 #e1e4e8;
    display: flex;
    flex-direction: row;
    height: calc(50vh - 75px);
    justify-content: center;
    position: relative;
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .header {
    flex-direction: row;
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    margin: 0 auto;
  }
}

.heading,
.subheading {
  color: #000;
  font-family: $raleway;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.subheading {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2;
}

@media only screen and (min-width: 600px) {
  .heading {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 600px) {
  .subheading {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .heading {
    font-size: 8rem;
  }

  .subheading {
    font-size: 2.5rem;
  }
}
