<form [formGroup]="formGroup">
  <div class="icons-display">
    <div class="icon-collection">
      <div
        class="icon-container"
        *ngFor="let icon of icons; let i = index"
        (click)="setIcon(i)"
        [ngClass]="{
          isHover: (hover$$.asObservable() | async)
        }"
        [ngStyle]="{
          'background-color': bgColors[i]
        }"
      >
        <fa-icon
          class="icon"
          [icon]="iconsMap[icon]"
          [ngStyle]="{
            color: iconColors[i]
          }"
        ></fa-icon>
      </div>
    </div>
    <div class="icon-hover-trigger" (mouseover)="addHoverClass()" (mouseleave)="removeHoverClass()">
      <div
        class="icon-container-default"
        [ngStyle]="{
          'background-color': bgColor
        }"
      >
        <fa-icon
          class="icon"
          [icon]="iconsMap[icons[selected]]"
          [ngStyle]="{
            color: iconColor
          }"
        ></fa-icon>
      </div>
    </div>
    <input class="input" formControlName="categoryName" />
    <input
      class="color-picker"
      readonly
      (colorPickerChange)="setBackgroundColor($event)"
      (keydown)="preventInput($event)"
      [(colorPicker)]="bgColor"
      [style.background]="bgColor"
    />
    <input
      class="color-picker"
      readonly
      (colorPickerChange)="setIconColor($event)"
      (keydown)="preventInput($event)"
      [(colorPicker)]="iconColor"
      [style.background]="iconColor"
    />
  </div>
</form>
