<div [id]="nodeId" class="card-container" [ngClass]="{ center: position === 'center' }">
  <ng-container *ngIf="position !== 'center'">
    <div class="categories" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
      <div
        (click)="setCategory(i)"
        [ngClass]="{ isHover: isHover }"
        class="category-choice"
        *ngFor="let category of categoriesSettings$$.asObservable() | async; let i = index"
        [ngStyle]="{
          'background-color': category.categoryBgColor,
          'animation-delay': hoverDelays[i]
        }"
      >
        <fa-icon
          [icon]="iconsMap[category.categoryIcon] || iconsMap['faQuestion']"
          [ngStyle]="{ color: category.categoryIconColor || 'white' }"
        ></fa-icon>
      </div>
    </div>
    <div
      (mouseenter)="handleMouseEnter()"
      (mouseleave)="handleMouseLeave()"
      class="picked-category"
      *ngIf="currentCategory$$.asObservable() | async; let currentCategory"
      [ngStyle]="{ 'background-color': currentCategory.categoryBgColor }"
    >
      <fa-icon
        class="icon"
        [icon]="iconsMap[currentCategory.categoryIcon] || iconsMap['faQuestion']"
        [ngStyle]="{ color: currentCategory.categoryIconColor || 'white' }"
      ></fa-icon>
    </div>
  </ng-container>
  <form [formGroup]="cardForm">
    <div class="control">
      <div
        [ngStyle]="{
          'text-align': position === 'center' ? 'center' : 'left',
          color: position === 'center' ? 'white' : 'black'
        }"
        [ngClass]="position === 'center' ? 'center' : ''"
        formControlName="title"
        value="Edit me!"
        class="title card__inner-text"
        editable="true"
        unformattedPaste
      ></div>
    </div>
    <div class="control" *ngIf="position !== 'center'">
      <div class="date-picker-container">
        <input value="Edit me!" class="date" type="text" formControlName="date" />
      </div>
    </div>
    <div class="control notes" *ngIf="position !== 'center'" formArrayName="notes">
      <ng-container *ngIf="notes">
        <ng-container>
          <ng-container *ngFor="let noteControl of notes.controls; let i = index">
            <span class="note">
              <div editable="true" unformattedPaste class="note-input" type="text" [formControl]="noteControl"></div>
              <fa-icon class="faTrashAlt" [icon]="faTrashAlt" (click)="removeNote(i)"></fa-icon>
            </span>
          </ng-container>
        </ng-container>
      </ng-container>
      <button class="add-note" (click)="addNote()">
        <fa-icon class="faPlus" [icon]="faPlus"></fa-icon> Add Comment
      </button>
    </div>
    <div class="add-delete-container">
      <div
        class="icon-container add"
        (click)="addNode()"
        *ngIf="position !== 'subchild-left' && position !== 'subchild-right'"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </div>
      <div class="icon-container delete" (click)="deleteNode()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </div>
    </div>
  </form>
</div>
