@import '../../../assets/styles/variables';

input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.title {
  min-width: 2rem;
  font-weight: 700;
  hyphens: auto;
  resize: none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  border: 1px dashed transparent;

  &:hover {
    background: $center-hover;
    border: 1px dashed white;
  }
}

.title:not(.center) {
  padding: 5px 5px 5px 0px;
  color: #202020;
  cursor: pointer;
  border: 1px dashed transparent;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
  font-size: 1.5rem;
  transition: border 0.2s, background 0.2s;
  width: fit-content;
  word-break: break-all;
  margin-left: 0;

  &:hover {
    background: #f8f8f8;
    border: 1px dashed rgba(0, 0, 0, 0.514);
  }
}

.date-picker-container {
  width: fit-content;
}

.date {
  text-align: left;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  margin-left: auto;
}

.note-input {
  background-color: #f9f9f9;
  margin-top: 2px;
  line-height: 15px;
  min-height: 15px;
  width: 80%;
  padding: 5px;
  font-family: $raleway;
  border: 1px dashed transparent;
  text-align: left;

  &:hover {
    border: 1px dashed rgba(0, 0, 0, 0.35);
  }
}

.note {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
}

.add-note {
  border: none;
  text-align: left;
  width: 100%;
  background-color: transparent;
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;

  &:hover {
    fa-icon {
      color: #3b6e9e;
    }
  }

  fa-icon {
    margin-right: 1rem;
    color: $center;
    font-size: 16px;
    font-weight: 400;
  }
}

.faTrashAlt {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1.5rem;
  color: $center;

  &:hover {
    color: $center-hover;
  }
}

.categories {
  display: flex;
  position: absolute;
  top: -3rem;
  padding-right: 20px;
  right: calc(1.5rem - 20px);
}

.category-choice {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  cursor: pointer;
  background-color: #80808042;
  margin-left: 0.5rem;
  opacity: 0;
  animation-fill-mode: forwards;

  &.isHover {
    animation: FadeInDots 0.2s forwards;
  }
}

fa-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picked-category {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  cursor: pointer;
  background-color: #80808042;
}
