<div [id]="nodeId">
  <form [formGroup]="cardForm">
    <div class="control">
      <div
        [ngStyle]="{
          'text-align': position === 'center' ? 'center' : 'left',
          color: position === 'center' ? 'white' : 'black'
        }"
        [ngClass]="position === 'center' ? 'center' : ''"
        formControlName="title"
        value="Edit me!"
        class="title card__inner-text"
        editable="true"
        unformattedPaste
      ></div>
    </div>
    <div class="control" *ngIf="position !== 'center'">
      <div class="date-picker-container">
        <input value="Edit me!" class="date" type="text" formControlName="date" />
      </div>
    </div>
    <div class="control" *ngIf="position !== 'center'" formArrayName="notes">
      <ng-container *ngIf="notes">
        <ng-container>
          <ng-container *ngFor="let noteControl of notes.controls; let i = index">
            <span class="note">
              <div editable="true" unformattedPaste class="note-input" type="text" [formControl]="noteControl"></div>
              <fa-icon class="faTrashAlt" [icon]="faTrashAlt" (click)="removeNote(i)"></fa-icon>
            </span>
          </ng-container>
        </ng-container>
      </ng-container>
      <button class="add-note" (click)="addNote()">
        <fa-icon class="faPlus" [icon]="faPlus"></fa-icon> Add Comment
      </button>
    </div>
  </form>
</div>
