@mixin setFadeInDots {
  @for $i from 0 to 10 {
    &:nth-child(#{$i}) {
      @debug #{$i};
      animation: FadeInDots 0.2s both #{'0.' + $i + 's'};
      opacity: 1;
    }
  }
}

$icon-width: 1.5rem;
$icon-height: 1.5rem;
$icon-font-size: 2rem;
$border-spacing-horizontal: 15px;
$border-spacing-vertical: 10px;

.settings-container {
  box-shadow: 0 5px 30px -15px #c9c9c9;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem;
  margin-top: 4rem;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
  margin-bottom: 5rem;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  fa-icon {
    font-size: 2.5rem;
    cursor: pointer;
    color: #2a445d;
    padding: 4rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    transition-duration: 0.1s;

    &:hover {
      color: #4887c2;
    }
  }
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

td,
th,
h3 {
  padding: 0 6px 0 6px;
}

@media only screen and (min-width: 750px) {
  .settings-container {
    padding: 3rem;
    width: 60vw;
  }

  .header {
    fa-icon {
      padding: 1rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .settings-container {
    width: 40vw;
    padding: 5rem;
  }
}

.icon-collection {
  position: absolute;
  display: flex;
  flex: 0 0 100%;
  z-index: 1000;
  margin-left: calc(36px + 0.5rem);
  transition-duration: 200ms;
  @media only screen and (min-width: 1200px) {
    margin-left: calc(36px + 1rem);
  }

  .icon-container-default {
    margin-right: 0.5rem;
    transition-duration: 200ms;

    @media only screen and (min-width: 1200px) {
      margin-right: 1rem;
    }
  }
}

.hide-animation {
  transition: opacity;
  transition-duration: 500ms;
}

.isHover .icon-container-default {
  @include setFadeInDots;
  opacity: 1;
}

.icon-container-default {
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}

.icon-picker-container {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.color-picker-container {
  width: fit-content;
  display: block;
  height: auto;
  position: relative;
  z-index: 1001;
  width: 2rem;
  height: 2rem;

  input {
    width: 2rem;
    height: 2rem;
  }
}

.color-picker {
  padding: 0;
  position: relative;
  z-index: 0;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border: 2px solid rgba(128, 128, 128, 0.1);
  color: transparent;
}

td {
  text-align: center;
}

input {
  padding: 0.9rem 3rem;
  border-radius: 3rem;
  border: 2px solid rgba(128, 128, 128, 0.1);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.02);
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
  max-width: 20vw;
}

.category-name-show {
  font-size: 2rem;
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: $border-spacing-vertical $border-spacing-horizontal;
  min-width: 100%;
  border: 0;
  white-space: nowrap;
  border-spacing: 0;
  table-layout: fixed;
}

/*
table {
  table-layout: fixed;
  width: 100%;
}

.input {
  max-width: 100%;
}

th,
td {
  border-width: 5px;
  word-wrap: break-word;
}
*/
.icon {
  font-size: $icon-font-size;
  color: white;
  width: $icon-width;
  height: $icon-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  font-size: 1.5rem;
  user-select: none;
}

.delete {
  color: #cf3a3a;
  transition-duration: 150ms;

  &:hover {
    color: #eb3f3f;
  }
}

thead tr {
  height: 50px;

  &:first-child {
    th:first-child {
      width: 50px;
    }
  }
}

tbody tr {
  height: 60px;
}

.cancel,
.save {
  background-color: transparent;
  color: black;
  border: none;
  box-shadow: none;
  font-size: 2rem;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
  width: fit-content;
  display: block;
  padding: 2rem;
  margin-top: 4rem;
  cursor: pointer;
}

.save {
  margin-right: 2rem;
}

.actions {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

// missing: cleanup first, then add + for new controls, add empty th with width
// make weird animation play backwards
