<div class="settings-container" *ngIf="{ value: innerWidth$ | async }; let innerWidth">
  <div class="header">
    <h3 class="header-title">Card-Categories</h3>
    <fa-icon class="edit-icon" [icon]="faPencil" (click)="flipEdit()"></fa-icon>
  </div>
  <div class="control">
    <form [formGroup]="settingsForm">
      <div formArrayName="categories">
        <table>
          <thead>
            <tr>
              <th>Icon</th>
              <th [ngStyle]="{ 'text-align': isEdit ? 'center' : 'left' }">Category</th>
              <th *ngIf="(innerWidth.value || 0) >= 500 && isEdit">Background</th>
              <th *ngIf="(innerWidth.value || 0) < 500 && isEdit">BG</th>
              <th *ngIf="isEdit">Font</th>
              <th *ngIf="isEdit">Remove</th>
            </tr>
          </thead>
          <tbody *ngIf="{ value: iconToEditPick$ | async }; let choiceVisible">
            <tr *ngFor="let categoriesControl of categories.controls; let i = index" [formGroupName]="i">
              <td>
                <span class="icon-picker-container" clickOutside (clickOutside)="handleClickOutside(i)">
                  <div (click)="flipShowIcons(i)">
                    <div
                      class="icon-container-default"
                      [ngStyle]="{
                        'background-color': getCategoryInformation(i).categoryBgColor,
                        cursor: isEdit ? 'pointer' : 'default'
                      }"
                    >
                      <fa-icon
                        class="icon"
                        [icon]="iconsMap[getCategoryInformation(i).categoryIcon]"
                        [ngStyle]="{ color: getCategoryInformation(i).categoryIconColor }"
                      ></fa-icon>
                    </div>
                  </div>
                  <div
                    class="icon-collection"
                    *ngIf="choiceVisible.value === i"
                    [ngClass]="{ isHover: choiceVisible.value === i }"
                  >
                    <ng-container *ngFor="let icon of icons; let id = index">
                      <div
                        *ngIf="icon !== getCategoryInformation(i).categoryIcon"
                        class="icon-container-default"
                        [ngStyle]="{ 'background-color': getCategoryInformation(i).categoryBgColor }"
                        (click)="setIcon(id, i)"
                      >
                        <fa-icon
                          class="icon"
                          [icon]="iconsMap[icon]"
                          [ngStyle]="{ color: getCategoryInformation(i).categoryIconColor }"
                        ></fa-icon></div
                    ></ng-container>
                  </div>
                </span>
              </td>
              <td>
                <input
                  *ngIf="isEdit"
                  class="category-name-input hide-animation"
                  formControlName="categoryName"
                  [ngStyle]="{ opacity: choiceVisible.value === i ? '0' : '1' }"
                  (input)="updateForm()"
                />
                <p *ngIf="!isEdit" class="category-name-show">{{ getName(i) }}</p>
              </td>
              <td *ngIf="isEdit">
                <input
                  readonly
                  class="color-picker hide-animation"
                  formControlName="categoryBgColor"
                  [ngStyle]="{ opacity: choiceVisible.value === i ? '0' : '1' }"
                  [(colorPicker)]="showBgColors[i]"
                  [style.background]="showBgColors[i]"
                  (colorPickerChange)="setBackgroundColor($event, i)"
                  (keydown)="preventInput($event)"
                />
              </td>
              <td *ngIf="isEdit">
                <input
                  readonly
                  class="color-picker hide-animation"
                  formControlName="categoryIconColor"
                  [ngStyle]="{ opacity: choiceVisible.value === i ? '0' : '1' }"
                  [(colorPicker)]="showIconColors[i]"
                  [style.background]="showIconColors[i]"
                  (colorPickerChange)="setIconColor($event, i)"
                  (keydown)="preventInput($event)"
                />
              </td>
              <td *ngIf="isEdit">
                <div
                  (click)="delete(i)"
                  class="icon-container-default hide-animation"
                  [ngStyle]="{ opacity: choiceVisible.value === i ? '0' : '1' }"
                >
                  <fa-icon class="icon delete" [icon]="faTrash"></fa-icon>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="actions" *ngIf="isEdit">
        <button class="save" (click)="saveCategories()">Save</button>
        <button class="cancel" (click)="cancelCategoriesForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>
