.modal-container {
  width: 45rem;
}

.close {
  cursor: pointer;
  font-size: 3rem;
  margin-left: auto;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 15px;

  label {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 5px;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
  }

  input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
    width: 100%;
  }

  button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Raleway';
    border: 1px solid transparent;
  }

  button.login {
    background: #429cad;
    color: white;
    font-weight: 600;
  }

  button.signup {
    background-color: white;
    color: #323232;
    border: 1px solid #b4b4b4;
  }
}

.buttongroup {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.forgot-password {
  font-size: 1.5rem;
  cursor: pointer;
  color: #0b45e4;
  font-weight: 500;
}

//

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Raleway';
  border: 1px solid transparent;
}

button.load {
  background: #429cad;
  color: white;
  font-weight: 600;
}

button.delete {
  background-color: white;
  color: #323232;
  border: 1px solid #b4b4b4;
}

button.create-new {
  background: #429cad;
  color: white;
  font-weight: 600;
}

.roadmap-title {
  font-size: 2rem;
}

.align-center {
  text-align: center;
}

.header-title {
  margin-bottom: 20px;
  margin-top: 5rem;
}
