.loader {
  border: 10px solid #8bb8b5;
  border-bottom-color: #2f5f68;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
