<div class="map">
  <div *ngFor="let section of sections" class="section">
    <!-- Subchildren left -->
    <div #cardContainer class="section__side-elements section__side-elements--left section__side-elements--subchild">
      <ng-container *ngFor="let child of generateChildrenOfNode(section, 'left')">
        <ng-container *ngFor="let subChild of generateChildrenOfNode(child, 'left', true)">
          <rdmp-card
            [id]="subChild"
            class="card card--element card--subchild card--left"
            [child]="subChild"
            position="subchild-left"
          ></rdmp-card>
        </ng-container>
      </ng-container>
    </div>

    <!-- Children left -->
    <div #cardContainer class="section__side-elements section__side-elements--left">
      <ng-container *ngFor="let child of generateChildrenOfNode(section, 'left')">
        <rdmp-card
          [id]="child"
          class="card card--element card--recommended card--left"
          [child]="child"
          position="left"
        ></rdmp-card>
      </ng-container>
    </div>

    <!-- Center -->
    <div
      #cardContainer
      class="section__side-elements section__side-elements--center-section"
      [ngClass]="section === 'last-node' ? 'last-node' : ''"
    >
      <rdmp-card
        [id]="section"
        *ngIf="section !== 'last-node'"
        class="card card--center"
        [child]="section"
        position="center"
      ></rdmp-card>
      <div *ngIf="section === 'last-node'" [id]="section" class="card card--center"></div>
    </div>

    <!-- Children right -->
    <div #cardContainer class="section__side-elements section__side-elements--right">
      <ng-container *ngFor="let child of generateChildrenOfNode(section, 'right')">
        <rdmp-card
          [id]="child"
          class="card card--element card--recommended card--right"
          [child]="child"
          position="right"
        ></rdmp-card>
      </ng-container>
    </div>

    <!-- Subchildren right -->
    <div #cardContainer class="section__side-elements section__side-elements--right section__side-elements--subchild">
      <ng-container *ngFor="let child of generateChildrenOfNode(section, 'right')">
        <ng-container *ngFor="let subChild of generateChildrenOfNode(child, 'right', true)">
          <rdmp-card
            [id]="subChild"
            class="card card--element card--subchild card--right"
            [child]="subChild"
            position="subchild-right"
          ></rdmp-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
