<rdmp-header></rdmp-header>

<!--
<div class="settings-tab">
  <div class="settings-container">
    <fa-icon class="settings" [icon]="faGear"></fa-icon>
  </div>
</div>
-->
<div class="map">
  <div *ngFor="let centerNode of centerNodes$$.asObservable() | async" class="section">
    <div #cardContainer class="section__side-elements section__side-elements--left section__side-elements--subchild">
      <ng-container *ngFor="let child of generateChildrenOfNode(centerNode, 'left')">
        <ng-container *ngFor="let subChild of generateChildrenOfNode(child, 'left', true)">
          <rdmp-card
            [id]="subChild"
            class="card card--element card--subchild card--left"
            [nodeId]="subChild"
            position="subchild-left"
          ></rdmp-card>
        </ng-container>
      </ng-container>
    </div>

    <div #cardContainer class="section__side-elements section__side-elements--left">
      <ng-container *ngFor="let child of generateChildrenOfNode(centerNode, 'left')">
        <rdmp-card
          [id]="child"
          class="card card--element card--recommended card--left"
          [nodeId]="child"
          position="left"
        ></rdmp-card>
      </ng-container>
    </div>

    <div
      #cardContainer
      class="section__side-elements section__side-elements--center-section"
      [ngClass]="centerNode === 'last-node' ? 'last-node' : ''"
    >
      <rdmp-card
        [id]="centerNode"
        *ngIf="centerNode !== 'last-node'"
        class="card card--center"
        [nodeId]="centerNode"
        position="center"
      ></rdmp-card>
      <div class="add-center-node-container">
        <div *ngIf="centerNode !== 'last-node'" class="add-center-circle" (click)="appendCenterNode(centerNode)">
          <div>+</div>
        </div>
      </div>
      <div *ngIf="centerNode === 'last-node'" class="card card--center" [id]="centerNode">
        <div class="last-node-ball"></div>
      </div>
    </div>

    <div #cardContainer class="section__side-elements section__side-elements--right">
      <ng-container *ngFor="let child of generateChildrenOfNode(centerNode, 'right')">
        <rdmp-card
          [id]="child"
          class="card card--element card--recommended card--right"
          [nodeId]="child"
          position="right"
        ></rdmp-card>
      </ng-container>
    </div>

    <div #cardContainer class="section__side-elements section__side-elements--right section__side-elements--subchild">
      <ng-container *ngFor="let child of generateChildrenOfNode(centerNode, 'right')">
        <ng-container *ngFor="let subChild of generateChildrenOfNode(child, 'right', true)">
          <rdmp-card
            [id]="subChild"
            class="card card--element card--subchild card--right"
            [nodeId]="subChild"
            position="subchild-right"
          ></rdmp-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
