path {
  stroke: #8bb8b5;
  fill: transparent;
}

.svg-dash {
  stroke-linecap: round;
  stroke-dasharray: 15, 0;
  stroke-width: 1.5;
  stroke: #8bb8b5;
  fill: transparent;
  //filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.2));
  //filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.1));
  //filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
}

.svg-center {
  stroke-dasharray: 0;
  stroke-width: 60;
}
