@import '../../../assets/styles/variables';

.menu-bar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .links {
    align-items: center;
    display: none;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    margin-right: 6vw;
  }

  button {
    border: none;
    background-color: white;
    font-family: $raleway;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.75rem;
    color: rgb(10, 10, 10);

    &:hover {
      color: rgb(80, 80, 80);
    }
  }
}

@media only screen and (min-width: 1100px) {
  .menu-bar .links {
    display: flex;
  }
}

.title {
  background-color: transparent;
  border: none;
  color: #ec4c4c;
  cursor: pointer;
  font-family: Quadrit;
  font-size: 1.5rem;
  font-weight: 200;
  justify-self: flex-start;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  margin-left: 6vw;
  padding: 0 1rem;
}

.burger-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-right: 5rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 50px;

  &.open .burger-stripes {
    background-color: transparent;
    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .burger-stripes {
    background-color: #464646;
    border-radius: 5px;
    height: 4px;
    transition: all 0.3s ease-in-out;
    width: 40px;

    &:before {
      transform: translateY(-12px);
      transform-origin: center center;
      content: '';
      position: absolute;
      background-color: #464646;
      border-radius: 5px;
      height: 4px;
      transition: all 0.3s ease-in-out;
      width: 40px;
    }

    &::after {
      transform: translateY(12px);
      transform-origin: center center;
      content: '';
      position: absolute;
      background-color: #464646;
      border-radius: 5px;
      height: 4px;
      transition: all 0.3s ease-in-out;
      width: 40px;
    }
  }
}

.sidenav {
  //display: none;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 100vh;
  left: -250px;
  position: fixed;
  top: 75px;
  transition-duration: 0.3s;
  width: 250px;
  z-index: 4;

  &.visible {
    left: 0;
  }

  .links {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin-top: 5rem;

    .link {
      background-color: transparent;
      border: none;
      color: #000;
      cursor: pointer;
      font-size: 2rem;
      margin-top: 3rem;
      padding: 0 1rem;
      text-decoration: none;
      font-family: $raleway;
    }
  }
}

.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition-duration: 0.3s;

  &.visible {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
  }
}

@media only screen and (min-width: 1100px) {
  .burger-container {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .sidenav.visible {
    left: -250px;
  }

  .backdrop.visible {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
  }
}

@media only screen and (min-width: 375px) {
  .title {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 3rem;
    line-height: 1;
  }
}
