<div class="menu-bar" *ngIf="{ isAuthorized: isAuthorized$ | async } as auth">
  <div class="title">Interactive Roadmap</div>
  <div class="links">
    <button *ngIf="auth.isAuthorized" (click)="openPresets()">Presets</button>
    <button (click)="openSettings()">Settings</button>
    <button *ngIf="auth.isAuthorized">Profile</button>
    <ng-container>
      <button (click)="singup()" *ngIf="!auth.isAuthorized">Signup</button>
      <button (click)="openLogin()" *ngIf="!auth.isAuthorized">Login</button>
      <button (click)="logout()" *ngIf="auth.isAuthorized">Logout</button>
    </ng-container>
  </div>
</div>
