<div class="header">
  <rdmp-header-right></rdmp-header-right>
  <rdmp-header-left></rdmp-header-left>
  <ng-container *ngIf="(loading$ | async) === false">
    <div class="wrapper" *ngIf="form.controls.title.value?.length; else noPreset" [formGroup]="form">
      <div class="heading" rdmp-editable="true" unformattedPaste formControlName="title" (blur)="updateRoadmap()"></div>
      <div
        class="subheading"
        rdmp-editable="true"
        unformattedPaste
        formControlName="subtitle"
        (blur)="updateRoadmap()"
      ></div>
    </div>
  </ng-container>
  <rdmp-loading-spinner [height]="120" *ngIf="(loading$ | async) === true"></rdmp-loading-spinner>
</div>

<ng-template #noPreset>
  <div class="wrapper">
    <h1 class="heading">No Preset Loaded</h1>
  </div>
</ng-template>
