<div class="modal-container">
  <fa-icon class="close" [icon]="faTimes" (click)="close()"></fa-icon>
  <rdmp-loading-spinner [height]="120" *ngIf="loading$ | async"></rdmp-loading-spinner>
  <rdmp-login-icon *ngIf="!(loading$ | async)"></rdmp-login-icon>
  <h3 class="header-title">Login</h3>
  <form [formGroup]="loginForm">
    <div class="form-control">
      <label for="email">Email</label>
      <input id="email" type="text" formControlName="email" />
      <ng-container *ngIf="loginForm.controls.email.touched">
        <div class="form-error" *ngIf="loginForm.controls.email.errors?.['required']">Name is required.</div>
        <div class="form-error" *ngIf="loginForm.controls.email.errors?.['email']">Email not found or incorrect.</div>
      </ng-container>
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
      <ng-container *ngIf="loginForm.controls.password.touched">
        <div class="form-error" *ngIf="loginForm.controls.password.errors?.['required']">Password is required.</div>
        <div class="form-error" *ngIf="loginForm.controls.password.errors?.['password']">Wrong password.</div>
      </ng-container>
    </div>

    <div class="forgot-password" (click)="handleForgotPassword()">Forgot your password?</div>
    <div class="buttongroup">
      <button (click)="login()" class="login">Login</button>
      <button (click)="goToSignUp()" class="signup">Signup</button>
    </div>
  </form>
</div>
